version: '3.8'

services:

  frontend:
    image: frontend
    container_name: frontend   
    networks:
      - app-network
    ports:
      - "9000:8080"
    build: ./frontend

  cluster-manager:
    image: backend
    container_name: cluster-manager
    environment:
      - DATASOURCE_URL=jdbc:postgresql://postgres:5432/bcm
      - POSTGRES_USER=appuser
      - POSTGRES_PASSWORD=apppassword
      - SPRING_PROFILES_ACTIVE=cluster_manager,dev
    ports:
      - "8080:8080"
    networks:
      - app-network
    depends_on:
      - postgres
    build: ./backend
    
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: bcm
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d bcm"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge