<!-- add-users-modal.html -->
<div *ngIf="open" class="fixed inset-0 z-50 flex justify-center items-center overflow-y-auto bg-opacity-40"
  tabindex="-1" aria-modal="true" role="dialog">
  <div class="relative p-4 w-full max-w-md">
    <div class="bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6">
      <!-- Modal Header -->
      <div class="flex items-center justify-between border-b border-default pb-4">
        <h3 class="text-lg font-medium text-heading">
          {{ mode === 'create' ? 'Add User' :  mode ==='node' ? 'Add Node' : mode === 'backups' ? 'Add Backup' : mode === 'tasks' ? 'Add Task' : mode === 'edit' ? 'Edit User' : 'Delete User' }}
        </h3>
        <button (click)="close()" class="w-9 h-9 flex justify-center items-center" aria-label="Close">
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none">
            <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              d="M6 18 17.94 6M18 18 6.06 6" />
          </svg>
        </button>
      </div>

      <!-- Add Node -->
       <form *ngIf="mode === 'node'" (ngSubmit)="onAddNode()">
        <div class="grid gap-4 py-4">
            <label class="block text-sm font-medium text-heading" for="nodeAddress">Enter the address of the node to add:</label>
            <input id="nodeAddress" type="text" [(ngModel)]="nodeAddress" name="nodeAddress"
              class="w-full bg-neutral-secondary-medium border border-default-medium rounded-base "
              placeholder="Node Address" required />
        </div>
        <div class="flex items-center space-x-4 border-t border-default pt-4">
          <button type="submit" class="px-4 py-2.5 bg-brand text-white rounded-base">Add Node</button>
          <button type="button" (click)="close()"
            class="px-4 py-2.5 bg-neutral-secondary-medium rounded-base">Cancel</button>
        </div>
      </form>

       <!-- Add Backups -->
      <form *ngIf="mode === 'backups'" [formGroup]="backupFormData" (ngSubmit)="submitAddBackup()">
        <div class="py-4">
           <label class="block text-sm mb-1">Client</label>
          <select  [formControlName]="'client'" name="clientId" (change)="onClientSelectionChanged()"
              class="w-full bg-neutral-secondary-medium border border-default-medium rounded-base px-3 py-2.5 mt-2">
              <option [ngValue]="undefined" disabled selected>Select Client</option>
              <option *ngFor="let client of clients()" [ngValue]="client">
                {{ client.nodeDTO.address + ' - ' + client.nameOrIp }}
              </option>
            </select>
        </div>
        <div class="py-4">
           <label class="block text-sm mb-1">Tasks</label>
          <select [formControlName]="'task'" name="taskId"
              class="w-full bg-neutral-secondary-medium border border-default-medium rounded-base px-3 py-2.5 mt-2">
              <option [ngValue]="undefined" disabled selected>Select Task</option>
              <option *ngFor="let task of tasks()" [ngValue]="task">
                {{ task.nodeDTO.address + ' - ' + task.name }}
              </option>
            </select>
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium text-heading" for="size">Size (Bytes)</label>
            <input id="size" type="number" formControlName="sizeBytes" name="size"
              class="w-full bg-neutral-secondary-medium border border-default-medium rounded-base px-3 py-2.5"
              placeholder="Size in Bytes" required />
          </div>
        <div class="flex justify-end space-x-3 border-t border-default pt-4">
          <button type="submit" class="px-4 py-2 text-sm bg-brand text-white rounded-base" >Add Backup</button>
          <button type="button" (click)="close()"
            class="px-4 py-2 text-sm bg-neutral-secondary-medium rounded-base">Cancel</button>
        </div>
      </form>

       <!--Add Tasks-->
      <form *ngIf="mode === 'tasks'" [formGroup]="taskFormData" (ngSubmit)="onAddTask()">
        <div class="py-4">
           <label class="block text-sm mb-1">Name</label>
          <input id="name" type="text" formControlName="name" name="name"
                class="w-full bg-neutral-secondary-medium border border-default-medium rounded-base px-3 py-2.5"
                placeholder="Task Name" required />
        </div>
        <div class="py-4">
           <label class="block text-sm mb-1">Client</label>
          <select formControlName="clientSelection" name="clientId"
              class="w-full bg-neutral-secondary-medium border border-default-medium rounded-base px-3 py-2.5 mt-2">
              <option [ngValue]="undefined" disabled selected>Select Client</option>
              <option *ngFor="let client of clients()" [ngValue]="{ clientId: client.id, nodeDTO: client.nodeDTO }">
                {{ client.nodeDTO.address + ' - ' + client.nameOrIp }}
              </option>
            </select>
        </div>
        <div class="py-4">
            <label class="block mb-2 text-sm font-medium text-heading" for="source">Source</label>
            <input id="source" type="text" formControlName="source" name="source"
                class="w-full bg-neutral-secondary-medium border border-default-medium rounded-base px-3 py-2.5"
                placeholder="Source" required />
        </div>
        <div class="py-4">
            <label class="flex items-center gap-2 text-sm">
                Enabled <input type="checkbox" formControlName="enabled" name="enabled" [value]="true" class="border border-1"/></label>

        </div>
         <div class="py-4">
           <label class="block text-sm mb-1">Interval</label>
          <select formControlName="interval" name="interval"
              class="w-full bg-neutral-secondary-medium border border-default-medium rounded-base px-3 py-2.5 mt-2">
              <option [ngValue]="undefined" disabled selected>Select Interval</option>
              <option *ngFor="let option of intervalOptions" [ngValue]="option.value">
                {{ option.label }}
              </option>
            </select>
        </div>

        <div class="flex justify-end space-x-3 border-t border-default pt-4">
          <button type="submit" class="px-4 py-2 text-sm bg-brand text-white rounded-base" >Add Task</button>
          <button type="button" (click)="close()"
            class="px-4 py-2 text-sm bg-neutral-secondary-medium rounded-base">Cancel</button>
        </div>
      </form>

      <!-- Delete Confirmation -->
      <div *ngIf="mode === 'delete'" >
        <div class="py-4">
          <p class="text-sm text-body mb-4">
            Are you sure you want to delete user
            <span *ngFor="let u of user; let last = last" class="font-semibold text-heading">
              {{ u.name }}<span *ngIf="!last">, </span>
            </span> ?
          </p>
        </div>
        <div class="flex justify-end space-x-3 border-t border-default pt-4">
          <button type="button" class="px-4 py-2 text-sm bg-red-600 text-white rounded-base" (click)="onDeleteSubmit(user)">Delete</button>
          <button type="button" (click)="close()"
            class="px-4 py-2 text-sm bg-neutral-secondary-medium rounded-base">Cancel</button>
        </div>
      </div>

      <!-- Create Form -->
      <form *ngIf="mode === 'create'" (ngSubmit)="onCreateSubmit()">
        <div class="grid gap-4 py-4">
          <div>
            <label class="block mb-2 text-sm font-medium text-heading" for="create-name">Name</label>
            <input id="create-name" type="text" [(ngModel)]="formData.name" name="name"
              class="w-full bg-neutral-secondary-medium border border-default-medium rounded-base px-3 py-2.5"
              placeholder="Username" required />
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-heading" for="create-password">Password</label>
            <input id="create-password" type="password" [(ngModel)]="formData.passwordHash" name="passwordHash"
              class="w-full bg-neutral-secondary-medium border border-default-medium rounded-base px-3 py-2.5"
              placeholder="Password" required />
          </div>
          <div class="flex gap-6">
            <label class="flex items-center gap-2 text-sm">
              <input type="radio" [(ngModel)]="formData.enabled" name="enabled" [value]="false" />
              Disabled
            </label>
            <label class="flex items-center gap-2 text-sm">
              <input type="radio" [(ngModel)]="formData.enabled" name="enabled" [value]="true" />
              Enabled
            </label>
          </div>
          <div>
            <select [(ngModel)]="formData.groupId" name="groupId"
              class="w-full bg-neutral-secondary-medium border border-default-medium rounded-base px-3 py-2.5 mt-2">
              <option [ngValue]="undefined" disabled selected>Select Group</option>
              <option *ngFor="let g of groups" [ngValue]="g.id">{{ g.name }}</option>
            </select>
          </div>
        </div>
        <div class="flex justify-end space-x-4 border-t border-default pt-4">
          <button type="submit" class="px-4 py-2.5 bg-brand text-white rounded-base">Add User</button>
          <button type="button" (click)="close()"
            class="px-4 py-2.5 bg-neutral-secondary-medium rounded-base">Cancel</button>
        </div>
      </form>

      <!-- Edit Form -->
      <div *ngIf="mode === 'edit'" >
        <div class="grid gap-4 py-4">
            <span class="font-semibold text-heading">{{ user.name }}</span>
          <div class="flex gap-6">
            <label class="flex items-center gap-2 text-sm">
              <input type="radio" [(ngModel)]="formData.enabled" name="enabled" [value]="false" />
              Disabled
            </label>
            <label class="flex items-center gap-2 text-sm">
              <input type="radio" [(ngModel)]="formData.enabled" name="enabled" [value]="true" />
              Enabled
            </label>
          </div>
        </div>
        <div class="flex justify-end space-x-4 border-t border-default pt-4">
          <button type="button" class="px-4 py-2.5 bg-brand text-white rounded-base" (click)="onEditSubmit(user.id)">Save Changes</button>
          <button type="button" (click)="close()"
            class="px-4 py-2.5 bg-neutral-secondary-medium rounded-base">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
