# Note for creating profiles:
# There are profiles for each node type for role-dependant bean activation, etc.
# Regarding differences between local-dev and prod setup there are two general configs that can include all the different settings regarding the environment the application is deployed in
# and can be applied for all node-types. eg. profile=dev,cluster_manager; profile=prod,cluster_manager


spring:
  application:
    name: bcm
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  datasource:
    url: ${DATASOURCE_URL:jdbc:postgresql://localhost:5432/bcm}
    username: ${POSTGRES_USER:appuser}
    password: ${POSTGRES_PASSWORD:apppassword}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  logging:
    level:
      root: INFO
      com.bcm: DEBUG
server:
  port: ${APPLICATION_PORT:8080}
application:
  cors:
    allowed-origin: ${FRONTEND_ORIGIN:http://localhost:4200}



# Node-type profiles (only one should be activated at the same time and can be combined with prod / dev
---
spring:
  config:
    activate:
      on-profile: cluster-manager
---
spring:
  config:
    activate:
      on-profile: backup-manager
---
spring:
  config:
    activate:
      on-profile: backup-node



---
# Prod profile
spring:
  config:
    activate:
      on-profile: prod
---
# Development profile
spring:
  config:
    activate:
      on-profile: dev





---
# Test profile (H2)
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop